<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="tabs">
        <div class="tabs__buttons" data-buttons-container>
          <template data-button-template>
            <button data-category-id class="button tabs__button js-category-choise"></button>
          </template>
        </div>
        <div class="tabs__content" data-content-container>
          <template data-content-template>
            <div class="tabs__card" data-id data-category-id>
              <img src="img/tovar.jpg" class="tabs__img">
              <p data-title></p>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</section>