<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">

    <title>Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <script>
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/\bno-js\b/, '') + ' js';
    </script>

    {# Favicon #}

    {# Share #}
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- build:css -->
    <link href="css/style.min.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
    <div class="wrapper">
      <main class="content">
        {% import "templates/utils/macros.jinja" as macros with context %}
        {% block content %}{% endblock %}
      </main>
    </div>
    <script src="js/app.js" defer></script>
  </body>
</html>
